/* CSS RESET */


*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-heading: 'Open Sans', Arial, sans-serif;
   --font-parapragh: 'Barlow',Cambria, Georgia, serif;



   --color-neutral-light: #fffbf2;
   --color-neutral-medium: #ffc792;
   --color-neutral-dark: #5d2910;
   --color-neutral-black: #3b3a39;
   --color-neutral-accent: #92caff;

   --color-main-light: #f6e2c4;
   --color-main-medium: #edb97f;
   --color-main-dark: #684a24;

   --color-black:#000;
   --color-white:#fff;



   --header-height:4rem;
}


body {
   margin:0;
   font-size:100%;
   font-family:var(--font-parapragh);
   color: var(--color-neutral-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family:var(--font-heading);
}
h2{
   font-size:1rem;
}

a {
   color:inherit;
   text-decoration: none;
   font-weight:bold;
}
a:hover {
   text-decoration:underline;
}

span{
   font-weight:800;
   line-height: 3em;
}


hr{
  display: block;
    border-color: var(--color-neutral-medium);
    border-style: solid none none;
    border-width: 4px;
    width: 25%;
    margin-top: 2%;
}


/* Layout Classes */




.hidden { display:none; }


.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

.space-between{justify-content: space-between;}
.space-around{justify-content: space-around;}
.flex-end{justify-content: flex-end;}

.flex-column{flex-direction:column;}
.flex-row{flex-direction:row;}

.padding-top-2{padding-top: 2em;}
.padding-top-5{padding-top: 5em;}
.padding-bot-2{padding-bottom: 2em;}

.margin-bot-5{margin-bottom: 5em;}


/*forms*/

.form-control{
   margin:0.8em 0;
}
.search-control{
   margin:10px 0;
}
.form-label{
   font-size: 0.8em;
   color: var(--color-neutral-dark);
   font-weight:bold;
   margin: 0.5rem 0;

}

.ui-mobile label{
   margin: 0.5rem 0;
}
.form-input{
    display: inline-block;
    width: 100%;
    border-width: 0;
    /* background-color: var(--color-neutral-light); */
    border-bottom: 1.5px solid var(--color-neutral-medium);
    font: inherit;
    padding: 0.1em;
    margin: 0;
    outline: 0;
   
}
.form-button{
    display: inline-block;
    width: 100%;
    border-width: 0;
    color: var(--color-neutral-light);
    background-color: var(--color-neutral-dark);
    font: inherit;
    padding: 0.5em 1em;
    margin: 0;
    outline: 0;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #5d291038;

}

.form-button.fixed{
    position: fixed;
    width: 90%;
    bottom: 5%;

}
.drop-down{

    width: 90vw;
    padding: 0.8em;
    border-radius: 5px;
    border: 1.5px solid var(--color-neutral-medium);
    background: inherit;

}
.ui-select{
    border: 1px solid var(--color-main-medium);
    border-radius: 5px;
    background-color: var(--color-neutral-light);

    width: 100%;
    text-align: left;
}

#signup-form,
#signin-form,
#signup-success-form{
   padding:1em;
}

.signin-alt{
   padding: 1em;
   text-align: center;
}

#signin-page [data-role='main']{
   display: flex;
   flex-direction:column;
}


/*#signin-page [data-role='main']{
   display: flex;
   flex-direction:column;
}
*/

.login-error{
    text-align: center;
    opacity: 0;
    /*line-height: 5px;*/
    /* padding-top: 10px; */
    position: relative;
    margin: 0;
    top: 4%;
}

.login-error.active{
   color: red;
  opacity: 1;


}




/*Signup form info*/

.welcome-msg{
  text-align: left;
    padding: 0 1em;
}

.skip-button{
    background-color: inherit;
    border: none;
    width: 100%;
    color: var(--color-neutral-medium);
    position: fixed;
    width: 80vw;
    bottom: 4%;
}
/*.form-button.fixed {
    position: fixed;
    width: 80%;
    bottom: 5%;
    margin: 1em auto;
}*/
.signup-fixed{
  position: fixed;
    width: 80vw;
    bottom: 8%;
}


/*Page layouts*/

.ui-link,
.ui-link:active,
.ui-link:visited{
   font-weight:inherit;
   text-decoration: none;
}


.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:hidden;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
   padding: 0.2em 1em;
}
.ui-header,
.ui-footer {
   flex:none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:inherit;
   overflow:hidden;
   position:relative;
}
.ui-header{
   box-shadow:0px 3px 5px 0px rgb(132 122 103 / 23%);

}


.add-icon{
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    top: 84%;
    left: 80%;
    padding: 8px;
    background: #ffc792;
    box-shadow: 0px 1px 6px 0px #5d291038;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    align-items: center;
    line-height: 0.8em;
    font-size: 2em;
    font-weight: 700;
    color: var(--color-neutral-light);
    z-index: 2;
}


.more-icon.black{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    left: 90%;
}

.more-icon img{
   max-width: 100%;

}



.back-header {
    height: 2.5em;
    font-size: 1.5em;
    /* margin-top: 0.5em; */
    position: absolute;
    z-index: 5;
    width: 100vw;
    /* margin: 0.5em 1em; */
    background-color: #fffbf2;
    box-shadow: -1px 0px 16px 2px #998c78;
    padding: 0.5em;
}


.regular-back-header h2 {
    margin-left: 1em;
    /* padding: 1em; */
    line-height: 1em;
}


.ui-footer{
   box-shadow:0px -4px 5px 0px rgb(132 122 103 / 23%);
   align-items: center;
   padding-top: 0.8em;

}

.ui-footer ul li a{
       display: flex;
    flex-direction: column;

    align-items: center;
}

.ui-footer p{
    margin: 0;
    line-height: 1em;
    font-size:0.8em;
}

.footer-icon{
   width: 35%;
}


.ui-header .ui-title {
    margin: 0;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    text-align: left;
    font-size: 1.2em;
   line-height: 1.8em;
}







.ui-header ul,
.ui-footer ul {
   position:relative;
   display:flex;
   list-style-type:none;
   margin:0;
   padding:0;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-header a,
.ui-footer a {
   display:block;
   padding:0 1em;
}




.overscroll{
   width: 100%;
   height: 100%;
   overflow: auto;

}


/*Onboarding*/
.onboarding-img{
   width: 250px;
   margin:20px auto;
}

.onboarding-img img{
   max-width: 100%;
}

.onboarding-description{
       width: 80vw;
    margin: 10px auto;
}

a.onboarding-next-btn.ui-link {
    display: block;
    background-color: var(--color-neutral-medium);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

a.onboarding-back-btn.ui-link {
    color: var(--color-neutral-medium);
    padding: 10px 0;
    display: block;
}

.onboarding-btn-div{
   width: 90vw;
   padding: 0 1em;
}






.animal-list{
   list-style:none;
   padding:0;
   margin:0;
   margin-bottom: 8em;


}


.list-gender-icon{
  width: 20px;
  margin:2px ;
}

.list-gender-icon img{
  max-width: 100%;
}


.js-animal-jump{
    background-color: var(--color-neutral-light);

    border-radius: 5px;
    box-shadow: 0px 2px 6px #6a625424;
    width: 100%;;
}


.animal-list-img{
    width: 100%;
    margin-right: 15px;

}
.animal-list-img img{
   max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.list-title{
       margin: 0;
    font-size: 0.9em;
    padding-left: 5px;
}

.list-type{
       padding: 0 5px;
    font-size: 0.8em;
    margin: 2px 0 0;
}

.search-bar{

    width: 100%;
    border: solid 3px var(--color-neutral-medium);
    padding: 0 5px;
    border-radius: 5px;

}

.search-bar input,
.search-bar input:active{
   border:none;
   outline: none;
}

.search-bar img{
   width: 9%;
   margin-right: 2px;
}
.filter-bar{
   margin: 0.5em 0;
}
.filter-bar h4{
   margin:0 0 8px 0 ;
}


.no-cat {

    width: 60vw;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: center;

}

.no-cat img{
  max-width: 100%;
}




/*Map*/






/*User Profile page*/

.user-profile-card{
   margin:auto;

}
.user-icon img {
    border-radius: 50%;
    max-width: 100%;
}
.user-icon {
     margin: 10px auto; 
    width: 150px;
    /*margin-right: 10px;*/
}


.tabs{
  /*background-color: var(--color-neutral-medium);*/
  box-shadow: 0px 1px 0px #5d291036;

}

.tab.active{
  border-bottom: 3px solid var(--color-neutral-dark);
}

.tab{
    display: inline-block;
    list-style: none;
    padding: 0.4em;
    text-align: center;
    font-weight: 700;
}

.content.active{
  display: block;

}
.content{
  display: none;
  padding: 0 2em;
}

.cat-detail,.user-detail{
    display: flex;

    justify-content: center;
}
.user-detail{

     flex-direction: column; 
     width: 80vw;
     margin: 0 auto;
     text-align: center;

}

.user-detail p,
.user-detail h2{
   line-height: 15px;

   margin: 10px 0;
}
.user-detail p{
   font-size:0.8em;
}
.user-profile-detail>p{
  line-height: 15px;
}

.more-icon{
    width: 40px;
    height: 40px;
    text-align: end;
    /* margin-top: 1em; */
    display: block;
    margin: auto;
}

a.flex-none.more-icon.ui-link img{
   max-width: 100%;
}

.user-achievement{
    flex: 5%;
    background-color: var(--color-neutral-light);
    padding: 5px 15px;
    margin: 6px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 1px #5d291026;
}
.cat-badge{
   width: 30px;
}

.cat-badge img{
   max-width: 100%;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}

.modal.active{
   opacity: 1;
}

.modal-back{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
}


.modal-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vw;
    transition: all 0.3s;

}

.modal-body {
    background-color: white;
    padding: 1em;
}

.modal-body a{
   display: block;
}

.modal-head, .modal-foot {
    background-color: var(--color-neutral-light);
    padding: 0.8em 1em;

}

.modal-question {
    text-align: center;
    background: var(--color-neutral-light);
    padding: 2em 1em;
}

.modal-select{
       background: var(--color-main-medium);
    text-align: center;
    padding: 1em;
}


.modal-head a, .modal-foot a{
   display: block;
}
.modal.active .modal-popup,
.modal.active .modal-back{
   pointer-events: initial;

}

.modal.active .modal-popup{
   transform: translate(-50%,-50%);
   
}


/*Add cat page*/

.form-upload-photo{
    width: 150px;
}

.form-upload-photo img{
   max-width: 100%;
   border-radius: 50%;

}

a.edit-photo-btn {
    padding: 0.5em 1em;
    display: block;
    background-color: var(--color-main-medium);
    border-radius: 5px;
    font-size: 0.8em;
    margin: 0.5em;
}

.pin-location-btn{
   max-width: 200px;
       background-color: var(--color-main-medium);
    padding: 0.2em 0;
    text-align: center;
    color: var(--color-main-dark);
    padding: auto;
    border-radius: 5px;
    margin-left: 40px;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    line-height: 25px;
}

.add-cat-note{

   background-color: var(--color-neutral-light);
    border: 1px solid var(--color-neutral-medium);
    border-radius: 5px;
    height: 100px;
    width: 100%;
    padding: 10px;

}



/*Cat Profile Page*/



#animal-profile-page [data-role='main'],#user-profile-page [data-role='main']{
   padding:0;
}

.cat-icon{
    margin: 0;
    width: 100vw;
    pointer-events: none;
}

.cat-icon img{
    max-width: 100%;
    margin: auto;

}

.cat-profile{
    display: flex;
    flex-direction: column;
}


.cat-name-title{

  text-align: center;
}

.gender-icon{
  width: 30px;
  height: 30px;
  margin-left: 0.2em;
}

.gender-icon img{
  max-width: 100%;
}


.cat-user-detail h2{
   font-size:1rem;
}

.map-back-icon{

    position: absolute;
    top: 2%;
    left: 6%;
    display: block;
    width: 40px;
    margin: 0;
    z-index: 3;
}

.back-icon{
    display: block;
    width: 40px;
    margin: 0;
}

.back-icon img{
   max-width: 100%;
}
.back-header h2{
    margin: 0 1em;
    font-size: 1.2rem;
    line-height: 2em;
    color: var(--color-neutral-medium);

}

.view-location-btn {
    color: var(--color-neutral-light);
    font-weight: 700;
    background-color: var(--color-neutral-dark);
    text-align: center;
    width: 100%;
    padding: 1em;
    margin: 1em auto;
    height: 50px;
    line-height: 1.5em;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 1px 4px 1px #5d291030;
    border:none;
}

.reverse-btn{
border: 2px solid var(--color-neutral-medium);
    background-color: inherit;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin: 10px 30px;
    text-align: center;
    font-size: 0.8em;
}
.cat-profile-detail{
    /*background-color: var(--color-neutral-light);*/
    padding: 0px 1em;
    border-radius: 10px;
    font-size: 0.8em;
    width: 90vw;
    margin: 10px auto;
}

.cat-profile-detail>.cat-detail{
    border-bottom: 1px solid var(--color-neutral-medium);
    justify-content: space-between;
  
}
.cat-description{
  border-left: 1px solid var(--color-neutral-medium);
    margin-left: 1em;
    padding-left: 1em;
}

.cat-status{

    line-height: 0.5em;
    /* background-color: var(--color-neutral-light); */
    width: 80vw;
    height: 20px;
    margin: 0.2em auto;
    padding: 1em;
    font-size: 0.9em;
}

.add-note-div{

    text-align: right;
    z-index: 4;
}
.add-note-btn{
    border: 2px solid var(--color-neutral-medium);
    background-color: var(--color-neutral-medium);
    box-shadow: 1px 3px 3px 2px #5d29106e;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    top: 30%;
}


.cat-note-detail img{
   max-width: 100%;
   align-items: center;
}

.cat-note-detail p{
   padding: 0 0.5em;
}



.detail-info{

    position: absolute;
    top: 50%;
    margin: 1em;
    width: 90vw;
}

.cat-note-photo{
  width: 150px;
  /*height: 150px;*/
  border-radius: 15px;
}

.cat-note-photo img{
  max-width: 100%;
}


.cat-bio {
    background-color: #fffbf2;
    padding: 1em 1.5em;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #5d291024;
    margin: 1em auto;
}



.grid {
   display:grid;
   grid-template-columns: repeat(12, 1fr);
   --gap-size:1.5em;
}

.grid.gap {
   grid-gap:var(--gap-size);
   gap:var(--gap-size);
}


@media (min-width:320px) {
   .col-sm-1 { grid-column: span 1; }
   .col-sm-2 { grid-column: span 2; }
   .col-sm-3 { grid-column: span 3; }
   .col-sm-4 { grid-column: span 4; }
   .col-sm-5 { grid-column: span 5; }
   .col-sm-6 { grid-column: span 6; }
   .col-sm-7 { grid-column: span 7; }
   .col-sm-8 { grid-column: span 8; }
   .col-sm-9 { grid-column: span 9; }
   .col-sm-10 { grid-column: span 10; }
   .col-sm-11 { grid-column: span 11; }
   .col-sm-12 { grid-column: span 12; }
   .grid{
   --gap-size:1em;

   }
}







.map{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.cat-map{
    flex: 60%;

}



.cat-profile-map{
    padding: 0;
    margin: 0;
    height: 100%;
}

.cat-note{
  flex:40%;
  padding: 1.5em;
      background-color: var(--color-neutral-light);
}



/*
.catmap-instruction {
    position: absolute;
    background-color: var(--color-neutral-light);
    width: 80vw;
    margin: 1em auto;
    border-radius: 15px;
    padding: 0.2em 0.8em;
    box-shadow: 2px 3px 5px 1px #5d291030;
}*/



#animal-map-page [data-role='main']{
  padding:0;
}


.cat-journal-img{
  width: 200px;
  margin: 1em auto;

}

.cat-journal-img img{
  max-width: 100%;
}




