*,*::before, *::after{
    box-sizing: border-box;
}

:root{
    --font-sans: Arial, sans-serif;
    --font-serif: Georgia, serif;
}

body{
    margin: 0;
	background-color: #f8f8f8;
    font-size: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--font-sans);
}
/*h1{
	display: inline-block;
    text-transform: uppercase;
    font-family: Poppins;
    outline: #2b2b28 solid 5px;
    text-align: center;
    vertical-align: center;
    margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

a{
    color:inherit;

}
a:hover{
	color:#e3b04b;
}
